@import url(navbar.css);
@import url(home.css);
@import url(quote.css);
@import url(app.css);
@import url(display.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainContainer {
  width: 100vw;
}
